<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="person-form span6">

      <form action="<%= login_url %>" method="post" class="form-horizontal">
        <fieldset>
          <legend><%=t '.heading' %> <small> <%=t '.signup_html', path: new_person_path %></small></legend>
          <div class="control-group">
            <%= label_tag :name, Person.human_attribute_name(:name), class: 'control-label' %>
            <div class="controls">
              <%= text_field_tag :name, '', autofocus: true %>
            </div>
          </div>
          <div class="control-group">
            <%= label_tag :password, Person.human_attribute_name(:password), class: 'control-label' %>
            <div class="controls">
              <%= password_field_tag :password %>
            </div>
          </div>

          <div class="form-actions">
            <%= submit_tag t(".submit"), class: 'btn btn-primary btn-large' %>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
