<h1><%=t '.heading' %></h1>

<%= form_for @person do |f| -%>
	<% unless @person.errors.empty? %>
	<ul>
		<% @person.errors.full_messages.each do |m| -%>
			<li><%= m %></li>
		<% end %>
	</ul>
	<% end %>
	
	<strong><%= f.label :name %>:</strong> <%= f.text_field :name %><br/>
	<strong><%= f.label :password %>:</strong> <%= f.password_field :password %><br/>
	<strong><%= f.label :password_confirmation %>:</strong> <%= f.password_field :password_confirmation %><br/>
	<%= f.submit %>
<% end %>