<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="person-form span6">

      <%= form_for @person, html: {class: 'form-horizontal'} do |f| -%>
        <fieldset>
          <legend><%=t '.heading' %></legend>

          <% unless @person.errors.empty? %>
          <div class="alert alert-error alert-block">
            <h4 class="alert-heading">Your sign up was unsuccessful</h4>
            <p>There were the following problems:</p>
            <ul>
              <% @person.errors.full_messages.each do |m| -%>
              <li><%= m %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

          <div class="control-group">
            <%= f.label :name, class: 'control-label' %>
            <div class="controls">
              <%= f.text_field :name, autofocus: true %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :password, class: 'control-label' %>
            <div class="controls">
              <%= f.password_field :password %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :password_confirmation, class: 'control-label' %>
            <div class="controls">
              <%= f.password_field :password_confirmation %>
            </div>
          </div>

          <div class="form-actions">
            <%= f.submit class: 'btn btn-primary btn-large' %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
