<div class="modal-header">
  <a class="close" data-dismiss="modal">x</a>
  <h3>Add a New Place</h3>
</div>

<div class="modal-body">
<%= form_for place, remote: true, html: {class: 'form-horizontal'} do |f| -%>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, disabled: !place.new_record? %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :notes, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, rows: 4, class: 'span3' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :walkable, class: 'control-label' %>
    <div class="controls">
      <label class="checkbox">
        <%= f.check_box :walkable %>
        This place is within walking distance.
      </label>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :leaving_at, class: 'control-label' %>
    <div class="controls">
      <%= f.time_select :leaving_at, {minute_step: 15, ampm: true}, {class: 'input-small'} %>
    </div>
  </div>
<% end %>
</div>

<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Cancel</button>
  <button class="btn btn-primary">Save Changes</button>
</div>