<table id="places">
	<% @places.each do |p| -%>
		<tr>
			<td><%= button_to "vote", votes_path(:place => p), :method => :post, :remote => true %></td>
			<td>
				<%= p.name %> 
				<% unless p.votes.empty? -%>
				<ul>
					<% p.votes.each do |v| -%>
					<li id="vote_<%=v.id%>">
						<%= button_to "x", vote_path(v), :method => :delete, :confirm => 'Are you sure you want to unvote for this place?', :remote => true if v.person == session[:user] %>
						<%= v.person.name %>
					</li>
					<% end %>
				</ul>
				<% end %>
			</td>
			<td><%= p.walkable? and "Walking" or "Driving" %>
			<td><%= button_to "x", place_path(p), :method => :delete, :confirm => 'Are you sure you want to delete this place? All votes will be lost.', :remote => true if p.person == session[:user] %></td>
		</tr>
	<% end %>
</table>
