<%
icon = mine && 'star' || 'heart'
desc = mine && 'Your Vote' || 'Most Popular Choice'
%>

<% if place %>

<div class="span6">

  <div class="btn-group pull-right">
    <% if @current_user == place.person %>
      <button class="btn btn-small">
        <i class="icon-pencil"></i>
      </button>
    <% end %>
    <% unless place.people.include? @current_user %>
      <%= link_to '<i class="icon-ok"></i>'.html_safe, votes_path(:place => place), method: :post, remote: true, class: 'btn btn-small' %>
    <% end %>
  </div>

  <%###### PLACE NAME ######%>
  <h2>
    <i class="icon-<%= icon %>"></i>
    <%= place.name %>
    <small><%= desc %></small>
  </h2>

  <%= place.formatted_notes %>

  <%###### PLACE DETAILS ######%>
  <p>
    <strong>Distance</strong>
    <%= place.walkable? and t('.walking') or t('.driving') %>,
    <strong>Added by</strong>
    <%= place.person.name %><% if place.leaving_at %>,
    <strong>Leaving at</strong>
    <%= place.leaving_at.to_s(:time) %>
    <% end %>
  </p>

  <% if place.walkable? %>

    <%###### WALKING PEOPLE ######%>
    <h4>People</h4>
    <p>
      <% place.people.each do |person| %>
        <% unless person.vote.comment.blank? %>
          <a href="#" rel="tooltip" title="<%= person.vote.comment %>"><i class="icon-comment"></i></a>
        <% else %>
          <i class="icon-user"></i>
        <% end %>
        <%= person.name %>
      <% end %>

      <% if place.people.include? @current_user %>
        <%= link_to t('.unvote_html'), vote_path(place.vote_for(@current_user)), method: :delete, remote: true, class: 'btn btn-mini btn-danger' %>
      <% else %>
        <%= link_to t(".vote_html"), votes_path(:place => place), method: :post, remote: true, class: 'btn btn-mini btn-primary' %>
      <% end %>
    </p>

  <% else %>

    <%###### DRIVING PEOPLE ######%>
    <div class="well container-fluid">
      <div class="row-fluid">
        <% place.car_owners.each do |owner, votes| %>
        <div class="span3">
          <%= car_list owner, votes %>
          <% if votes.include? @current_user.vote %>
            <%= link_to t('.unvote_html'), vote_path(place.vote_for(@current_user)), method: :delete, remote: true, class: 'btn btn-mini btn-danger' %>
          <% else %>
            <%= link_to t(".vote_html"), votes_path(:place => place, :car => owner.car), method: :post, remote: true, class: 'btn btn-mini btn-primary' %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>

  <% end %>
</div>

<% elsif mine %>

<div class="span6 no-vote">
  <p>You haven't chosen a place to eat yet!</p>
  <p class="subtext">
    Try clicking one of the
    <a href="#" class="btn btn-mini">
      <i class="icon-ok"></i>
    </a>
    Join buttons to choose a place to go.
  </p>
</div>

<% end %>
