<% @places.each do |p| -%>
	<tr id="place_<%=p.id%>">
		<td width="70">
		<% if p.people.include? @current_user %>
			<%= link_to t('.unvote'), vote_path(p.vote_for(@current_user)), :method => :delete, :remote => true, :class => 'unvote-button' %>
		<% else %>
			<%= link_to t(".vote"), votes_path(:place => p), :method => :post, :remote => true, :class => 'vote-button' %>
		<% end %>
		</td>
		<td>
			<span class="place-name"><%= p.name %></span> <%=t '.added_by', :name => p.person.name %>
			<%= p.formatted_notes %>
			<% if p.leaving_at %>
			<p class="place-time"><%=t '.leaving_at' %> <%= p.leaving_at.to_s(:time) %></p>
			<% end %>
			<% unless p.votes.empty? -%>
				<% if p.walkable? %>
				<ul>
					<% p.votes.each do |v| -%>
					<li id="vote_<%=v.id%>">
						<%= v.person.name %>
					</li>
					<% end %>
				</ul>
				<% else %>
				<table class="car-seats">
					<tr>
						<% p.car_owners.each do |person, votes| %>
						<td data-car="<%= person.try(:car).try(:id) %>" data-place="<%= p.id %>">
							<strong><%= person and t('.person_car', :name => person.name) or t('.unclaimed') %></strong>
                            <%=t '.seats_left', :count => person.car.seats_left(p) if person %>
							<ul>
                                <% votes.each do |vote| %>
                                <li class="<%= "mine" if vote.person == @current_user %>"
                                    data-vote="<%= vote.id %>"
                                    data-place="<%= p.id %>">
                                    <%= vote.person.name %>
                                </li>
                                <% end %>
							</ul>
						</td>
						<% end %>
					</tr>
				</table>
				<% end %>
			<% end %>
		</td>
		<td width="80">
		    <%= p.walkable? and t('.walking') or t('.driving') %>
		</td>
		<td width="20">
			<%= link_to t('.edit'), edit_place_path(p), remote: true, class: 'edit-button' if p.person == @current_user %>
		</td>
		<td width="20">
			<%= link_to t('.delete.text'), place_path(p), method: :delete, confirm: t('.delete.confirm'), remote: true, class: 'delete-button' if p.person == @current_user %>
		</td>
	</tr>
<% end %>
