<% @places.each do |p| -%>
	<tr id="place_<%=p.id%>">
		<td width="70">
		<% if p.people.include? @current_user %>
			<%= link_to "Unvote", vote_path(p.vote_for(@current_user)), :method => :delete, :remote => true, :class => 'unvote-button' %>
		<% else %>
			<%= link_to "Vote", votes_path(:place => p), :method => :post, :remote => true, :class => 'vote-button' %>
		<% end %>
		</td>
		<td>
			<span class="place-name"><%= p.name %></span> (added by <%= p.person.name %>)
			<% unless p.votes.empty? -%>
				<% if p.walkable? %>
				<ul>
					<% p.votes.each do |v| -%>
					<li id="vote_<%=v.id%>">
						<%= v.person.name %>
					</li>
					<% end %>
				</ul>
				<% else %>
				<table class="car-seats">
					<tr>
						<% (p.car_owners + [nil]).each do |person| %>
						<td data-car="<%= person.try(:car).try(:id) %>">
							<strong><%= person and "#{person.name}'s Car" or "Unclaimed" %></strong>
                            <%= "(#{pluralize(person.car.seats_left(p), "seat")} left)" if person %>
							<ul>
                                <% p.votes_for_car(person.try(:car)).each do |vote| %>
                                <li class="<%= "mine" if vote.person == @current_user %>"
                                    data-vote="<%= vote.id %>"><%= vote.person.name %></li>
                                <% end %>
							</ul>
						</td>
						<% end %>
					</tr>
				</table>
				<% end %>
			<% end %>
		</td>
		<td width="120">
			<% if p.walkable? %>
				Walking
			<% else %>
				Driving (<%= pluralize(p.num_seats, "seat") %>)
			<% end %>
		</td>
		<td width="20"><%= link_to "Delete Place", place_path(p), :method => :delete, :confirm => 'Are you sure you want to delete this place? All votes will be lost.', :remote => true, :class => 'delete-button' if p.person == @current_user %></td>
	</tr>
<% end %>
