<div class="span3 place-cell" id="place<%=place.id%>">
  <div class="tabbable tabs-below">
    <div class="well">

    <div class="btn-group pull-right">
      <%= link_to '<i class="icon-ok"></i>'.html_safe, votes_path(:place => place), method: :post, remote: true, class: 'btn btn-mini' %>
      <% if @current_user == place.person %>
        <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_place_path(place), remote: true, class: 'btn btn-mini' %>
        <%= link_to '<i class="icon-remove icon-white"></i>'.html_safe, place_path(place), method: :delete, confirm: t('places.destroy.confirm'), remote: true, class: 'btn btn-mini btn-danger' %>
      <% end %>
    </div>

      <h3><%= place.name %></h3>
      <%= place.formatted_notes %>

      <div class="tab-content">
        <% tab = "info#{place.id}" %>
        <div class="tab-pane<%= tab_active place, tab %>" id="<%=tab%>">
          <dl class="dl-horizontal">
            <dt>Added by</dt>
            <dd><%= place.person.name %></dd>

            <% if place.leaving_at %>
              <dt>Leaving</dt>
              <dd><%= place.leaving_at.to_s(:time) %></dd>
            <% end %>

            <dt>Distance</dt>
            <dd><%= place.walkable? and t('.walking') or t('.driving') %></dd>
          </dl>
        </div>

        <% if place.walkable? %>

          <% tab = "people#{place.id}" %>
          <div class="tab-pane<%= tab_active place, tab %>" id="<%=tab%>">
            <h4><%= pluralize(place.people.count, 'person is', 'people are') %> going</h4>
            <ul class="unstyled">
              <% place.people.each do |person| %>
              <li><%= person.name %></li>
              <% end %>
            </ul>
          </div>

        <% else %>

          <% place.car_owners.each do |owner, votes| %>
            <% tab = "car#{owner.id}" %>
            <div class="tab-pane<%= tab_active place, tab %>" id="<%=tab%>">
              <%= car_list owner, votes %>
            </div>
          <% end %>

        <% end %>

      </div>
    </div>

    <ul class="nav nav-tabs">
      <% tab = "info#{place.id}" %>
      <li class="<%= tab_active place, tab %>">
        <a href="#<%=tab%>" data-toggle="tab">
          <i class="icon-info-sign"></i>
        </a>
      </li>
      <% if place.walkable? %>

        <% tab = "people#{place.id}" %>
        <li class="<%= tab_active place, tab %>">
          <a href="#<%=tab%>" data-toggle="tab">
            <span class="label label-inverse"><%= place.votes.count %></span>
            People
          </a>
        </li>

      <% else %>

        <li class="dropdown<%= car_active place %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-road"></i>
            Drivers
            <b class="caret"></b>
          </a>

          <ul class="dropdown-menu">
            <% place.car_owners.each do |owner, votes| %>
            <% tab = "car#{owner.id}" %>
            <li class="<%= tab_active place, tab %>">
              <a href="#<%=tab%>" data-toggle="tab">
                <span class="label label-info"><%= votes.size %></span>
                <%= owner and owner.name or "Other" %>
              </a>
            </li>
            <% end %>
          </ul>
        </li>

      <% end %>
    </ul>
  </div>
</div>

<%#

      <div class="span3">
        <div class="tabbable tabs-below">
          <div class="well">
            <div class="btn-group pull-right">
            <a class="btn btn-small">
              <i class="icon-ok"></i>
            </a>
            </div>
            <h3>Taqueria del Sol</h3>

            <div class="tab-content">
              <div class="tab-pane active" id="info2">
                <p>Meatbowels! arst arst arst arst asrt arsta rst arst rst</p>
                <dl class="dl-horizontal">
                  <dt>Added by</dt>
                  <dd>Burrito</dd>
                  <dt>Leaving</dt>
                  <dd>11:00</dd>
                  <dt>Distance</dt>
                  <dd>Driving</dd>
                </dl>
              </div>
              <div class="tab-pane" id="people2">
                <h4>2 seats left</h4>
                <ul class="unstyled">
                  <li><i class="icon-user"></i> Jessie</li>
                  <li><a href="#" rel="tooltip" title="My comment"><i class="icon-comment"></i></a> Matt</li>
                  <li><i class="icon-user"></i> Burrito</li>
                </ul>
              </div>
              <div class="tab-pane" id="jz2">
                <h4>4 seats left</h4>
                <ul class="unstyled">
                  <li><i class="icon-user"></i> JZ</li>
                </ul>
              </div>
            </div>

          </div>

          <ul class="nav nav-tabs">
            <li class="active"><a href="#info2" data-toggle="tab"><i class="icon-info-sign"></i></a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-road"></i> Drivers <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#people2" data-toggle="tab">
                    <span class="label label-info">2</span> Jessie
                  </a>
                <li>
                <li>
                  <a href="#jz2" data-toggle="tab">
                    <span class="label label-info">4</span> JZ
                  </a>
                </li>
                <li class="divider"></li>
                <li><a href="#another" data-toggle="tab">Other</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
%>
