<!DOCTYPE html>
<html>
<head>
  <title>Lunch</title>
  <link type="text/css" href="css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<h1><%= link_to "lunch", places_path %></h1>
	</div>
	
	<div id="messages">
		<p class="ui-state-error" style="display:none">
			<span class="ui-icon ui-icon-alert"></span>
			<span class="message"></span>
		</p>
		<p class="ui-state-highlight" style="display:none">
			<span class="ui-icon ui-icon-info"></span>
			<span class="message"></span>
		</p>
	</div>

	<div id="container">
		<%= yield %>
	</div>
	
	<% if @current_user %>
	<div id="options">
		<h2>Options</h2>
		<%= form_for @current_car, :remote => true do |f| -%>
		<p>
			<%= check_box_tag :has_car, '1', @current_user.has_car? %> I have a car.
			<span id="seat_count">
				I have <%= f.number_field :seats, :size => 5, :step => 1, :in => 1..10 %> seats total.
			</span>
		</p>
		<%= f.submit "Save Car" %>
		<% end %>
	</div>
	<% end %>

</body>
</html>
