<!DOCTYPE html>
<html>
<head>
  <title>Lunch</title>
  <link type="text/css" href="/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @current_user and "logged-in" or "logged-out" %>">
	<div id="header">
		<h1><%= link_to "#{@current_user and @current_user.group.name or ""} #{t ".title"}", places_path %></h1>
	</div>
	
	<div id="messages">
		<p class="ui-state-error" style="<%= 'display:none' unless flash.key?(:error) %>">
			<span class="ui-icon ui-icon-alert"></span>
			<span class="message"><%= flash[:error] %></span>
		</p>
		<p class="ui-state-highlight" style="display:none">
			<span class="ui-icon ui-icon-info"></span>
			<span class="message"></span>
		</p>
	</div>

	<div id="container">
		<%= yield %>
	</div>
	
	<% if @current_user %>
	<div id="options">
		<h2><%=t '.options.heading' %></h2>
		<%= form_for @current_car, :remote => true do |f| -%>
		<p>
			<%= check_box_tag :has_car, '1', @current_user.has_car? %> <%=t '.options.have_car' %>
			<span id="seat_count">
			    <%=t '.options.seats_html', :field => f.number_field(:seats, :size => 5, :step => 1, :in => 1..10) %>
			</span>
		</p>
		<%= f.submit %>
		<% end %>
	</div>
	<% end %>

</body>
</html>
